@font-face {
  font-family: 'rfc';
  src:  url('../fonts/rfc.eot?fn0oaf');
  src:  url('../fonts/rfc.eot?fn0oaf#iefix') format('embedded-opentype'),
    url('../fonts/rfc.ttf?fn0oaf') format('truetype'),
    url('../fonts/rfc.woff?fn0oaf') format('woff'),
    url('../fonts/rfc.svg?fn0oaf#rfc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rfc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-profile:before {
  content: "\e923";
}
