@font-face {
    font-family: franklin-gothic-book;
    src: url('../fonts/franklin.ttf');
}

@font-face {
    font-family: franklin;
    src: url('../fonts/Franklin Gothic Medium Cond Regular.ttf');
}

body{
	background-color: #F2F2F2;
    /*background-image: url("../images/wallpapers/login.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #999;*/
    font-size: 25px;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden{
    overflow: hidden;
    overflow-x: hidden;
}

.display-none{
    display: none;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../images/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*COCINA*/

.kitchen-bg{
    background: url("../images/wallpapers/kitchen.jpg") center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kitchen-logo{
    width: 250px;
}

.kitchen-logo-container{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

.kitchen-h3{
    color: #fff;
}

.kitchen-bag-frame{
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.kitchen-home{
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 1;
}

.kitchen-logout{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 1;
}

.kitchen-img-button{
    width: 200px;
    border: solid 5px #ff7402;
    border-radius: 50%;
    height: auto;
    transition: .5s;
}

.kitchen-img-button:hover{
    border: solid 5px #dc6402;
    transition: .5s;
}

.kitchen-buttons-content{
    display: flex;
    justify-content: center;
}

.kitchen-button{
    font-weight: 600;
    font-size: 1.1rem;
    width: 200px;
    height: 56px;
}

.kitchen-consumed-button{
    font-weight: 600;
    font-size: 1.1rem;
    width: 90px;
    height: 56px;
    background-color: #FF770F;
    color: #FFF;
}

.kitchen-ticket-button{
    font-weight: 600;
    font-size: 1.1rem;
    width: 100px;
    height: 56px;
}

.kitchen-name-button{
    height: 56px;
    width: 100%;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn p{
    margin: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.kitchen-transparent-button{
    color: #000;
    background-color: transparent;
    height: 56px;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;

    cursor: default;

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;

    line-height: 1.5;
    border-radius: .25rem;

}

.enableButton{
    background-color: #FF770F;
    color: #FFF;
    pointer-events: none;
    cursor: default;
}

.disabledButton{
    background-color: #AAA;
    color: #FFF;
}

.enableButton:hover{
    background-color: #FF770F;
    color: #FFF;
}

.disabledButton:hover{
    background-color: #AAA;
    color: #FFF;
}

/*END COCINA*/

*:focus {
    outline: 0 !important;
    -webkit-appearance:none;
}

i.numOrders-icon::before{
    font-size: 45px;
}
.form-control{
    border-radius: 0;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-price{
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.modal-body-dish{
    overflow: hidden;
}

.hidden{
    display: none;
}

.image-dish{
    margin: 5px 0;
    width: 70px;
    height: 70px;
}

.card{
    padding: 10px;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: #fff;
    border-bottom: 3px solid #FF7200;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
    height: 44px;
    padding: 10px;
    font-weight: 700;
}
.header .logo {
    color: #E0680D;
}
.side-nav .logo {
    background-color: #E0680D;
    color: #fff;
}
.header .logo {
    float: left;
}
.header .logo {
    height: 44px;
    z-index: 1;
    padding: 10px;
    font-weight: 700;
    color: #E0680D;
}
.logo  i {
    font-size: 22px;
}
.logo span {
    margin-left: 5px;
    text-transform: uppercase;
}
.nav-trigger {
    position: relative;
    float: right;
    width: 20px;
    height: 44px;
    right: 30px;
    display: block;
}
.nav-trigger span, .nav-trigger span:before, span:after {
    width: 20px;
    height: 2px;
    background-color: #FF770F;
    position: absolute;
}
.nav-trigger span {
    top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
    content: '';
}
.nav-trigger span:before {
    top: -6px;
}
.nav-trigger span:after {
    top: 6px;
}
/* side navigation styles */
.side-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FF770F;
    z-index: 1;
    display: none;
}
.side-nav.visible {
    display: block;
}
.side-nav ul {
    margin: 0;
    padding: 0;
}
.side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #E0680D;
    position: relative;
    background-color: #FF7200;
}
.side-nav ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
}
.side-nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.side-nav ul li i {
    color: #FFF;
    min-width: 20px;
    text-align: center;
}
.side-nav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

i.icon-navbar::before{
    font-size: 26px;
    margin-left: 20px;
}

.dropdown-btn > span{
    color: #FFF;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF770F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #E0680D}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* main content styles */
.main-content {
    padding: 40px;
    margin-top: 0;
    padding: 0;
    padding-top: 44px;
    height: 100%;
    /*overflow: scroll;*/
}
.main-content .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 700;
    color: #333;
    font-size: 18px;
}

.profile-mobile{
    display: none;
}

.cont{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*dish*/

.dish-content, .table-content{
    overflow-x:auto;
}

.new-product{
    float: right;
}

.dish-table-image{
    width: 50px;
}

.nav-item .nav-link{
    color: #000;
}

.nav-item .nav-link.active{
    color: #FF770F;
}

.modal-dish{
    padding: 0;
    overflow: hidden;
    height: auto;
}

.modal-img{
    float: left;
}

.modal-info{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.dish-text{
    color: #888;
    margin: 0;
}

.dish-text:hover{
    color: #333;
}

.flat:before{
    margin: 0;
}

/*category*/
.new-category{
    float: right;
}
/*user*/

.img-profile{
    width: 150px;
    height: 150px;
    border: solid 2px #666;
    border-radius: 50%;
}

.users-card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
}

.users-card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */

}
.users-card .avatar {
  position: relative;
  margin-top: 15px;
}

.users-card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(0,0,30,0.8);
}

/*RECIPE*/
.body-recipe{
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 10px 10px 8px -8px rgba(201,201,201,1);
    -moz-box-shadow: 10px 10px 8px -8px rgba(201,201,201,1);
    box-shadow: 10px 10px 8px -8px rgba(201,201,201,1);
}

.img-recipe{
    width: 100%;
    top: 0;
    height: auto;
}

.title-recipe{
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}

.btn-recipe{
    margin-bottom: 10px;
    width: 90%;
    background-color: #FF770F;
    color: #FFF;
}

.recipe-text{
    color: #E0680D;
}

.square-list {
    list-style-type: square;
}

.number-list {
    list-style-type: ;
}

.recipe-edit-button{
    background-color: #FF770F;
    color: #FFF;
}

.orangeButton{
    background-color: #FF770F;
    color: #FFF;
}

.remove-element, .remove-element:hover{

}

.remove-ingredient, .remove-step, .remove-ingredient:hover, .remove-step:hover{
    padding-bottom: 0;
    padding-top: 0;
    color: red;
    text-decoration: none;
}

.frsinput {
    margin-bottom: 1rem!important;
}

textarea{
    resize: none;
}

.no-recipe{
    color: red;
}

/*orders*/
.modal-body-invoice > p, .modal-body-shipping > p{
    margin: 0;
}

.ticket{
    font-size: 12px;
}

.ticket > p{
    margin: 0;
    word-break: break-all;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
    * {
      font-size: 12px;
      font-family: 'Times New Roman';
    }

  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }

    .ticket{
        font-family: 'Times New Roman';
        font-size: 14px;
        margin-top: 20px;
    }
}



/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
    .header {
        background-color: #FF770F;
        z-index: 1;
    }
    .header .logo {
        display: none;
    }
    .nav-trigger {
        display: none;
    }
    .nav-trigger span, .nav-trigger span:before, span:after {
        background-color: #fff;
    }
    .side-nav {
        display: block;
        width: 70px;
        z-index: 2;
    }
    .side-nav ul li span:nth-child(2) {
        display: none;
    }
    .side-nav .logo i {
        padding-left: 12px;
    }
    .side-nav .logo span {
        display: none;
    }
    .side-nav ul li i {
        font-size: 26px;
    }
    .side-nav ul li a {
        text-align: center;
    }
    .main-content {
        margin-left: 70px;
    }

    i.icon-navbar::before{
        font-size: 26px;
        margin: 0;
    }

    .dropdown {
        width: 35px;
    }
}

/*Menu*/

.styled-input-single {
  position: relative;
  padding: 20px 0 20px 40px;
  text-align: left;
}
.styled-input-single label {
  cursor: pointer;
}
.styled-input-single label:before, .styled-input-single label:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
}
.styled-input-single label:before {
  left: 20px;
  width: 30px;
  height: 30px;
  margin: -15px 0 0;
  background: #f7f7f7;
  box-shadow: 0 0 1px grey;
}
.styled-input-single label:after {
  left: 25px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0;
  opacity: 0;
  background: #FF770F;
  -webkit-transform: translate3d(-40px, 0, 0) scale(0.5);
          transform: translate3d(-40px, 0, 0) scale(0.5);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.styled-input-single input[type="radio"],
.styled-input-single input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}
.styled-input-single input[type="radio"]:checked + label:after,
.styled-input-single input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.styled-input--square label:before, .styled-input--square label:after {
  border-radius: 0;
}

.styled-input--rounded label:before {
  border-radius: 10px;
}
.styled-input--rounded label:after {
  border-radius: 6px;
}

.styled-input--diamond .styled-input-single {
  padding-left: 45px;
}
.styled-input--diamond label:before, .styled-input--diamond label:after {
  border-radius: 0;
}
.styled-input--diamond label:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.styled-input--diamond input[type="radio"]:checked + label:after,
.styled-input--diamond input[type="checkbox"]:checked + label:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}

.styled-input-single{
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.styled-input-single-2 label:before {
  left: 32px;
}
.styled-input-single-2 label:after {
  left: 37px;
}

.consumed-img{
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
}


/*Checkboxes styles*/
.boxes input[type="checkbox"] { display: none; }

.boxes input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #000;
  padding-top: 6px;
  margin-bottom: 40px;
  font-size: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.boxes input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.boxes input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #FF770F;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.boxes input[type="checkbox"]:checked + label:before {
  width: 20px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* set element styles for desktop */
@media screen and (min-width: 800px) {

    .side-nav {
        width: 200px;
    }
    .side-nav ul li span:nth-child(2) {
        display: inline-block;
    }
    .side-nav ul li i {
        font-size: 16px;
    }
    .side-nav ul li a {
        text-align: left;
    }
    .side-nav .logo i {
        padding-left: 0;
    }
    .side-nav .logo span {
        display: inline-block;
    }
    .main-content {
        margin-left: 200px;
    }

    i.icon-navbar::before{
        font-size: 26px;
        margin: 0;
    }

    .dropdown {
        width: 100%;
    }
}

/* main box container */
.main {
    display: flex;
    flex-flow: row wrap;
}
.widget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 300px;
    margin: 15px;
    border-radius: 6px;
    background-color: #ffffff;
    position: relative;
}
.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #617085;
    font-weight: 600;
}

/*scrollbar*/

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;

}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
    background-color: #999999;
    border-radius: 10px;
}

/* tablet devices (tablet 768px 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    /*dish*/

    .modal-dish{
        padding: 0;
        height: auto;
    }

    .modal-img{
        width: 100%;
        float: left;
    }

    .modal-info{
        margin-left: -20px;
        font-size: 14px;
    }

    .modal-info p{
        margin-bottom: 5px;
    }
}
/* mobile devices (mobile 767px) */
@media only screen and (max-width: 767px) {

    /*dish*/
    .modal-dish{
        padding: 0;
        height: auto;
    }

    .modal-img{
        width: 100%;
        float: left;
    }
    .modal-info{
        margin-left: -20px;
        font-size: 12px;
    }
    .modal-info p{
        margin-bottom: 5px;
    }
}

/* mobile devices (mobile 373px) */
@media only screen and (max-width: 373px) {

    /*dish*/
    .modal-dish{
        padding: 0;
        height: auto;
    }
    .modal-img{
        width: 100%;
        float: left;
    }
    .modal-info{
        margin-left: -20px;
        font-size: 12px;
    }
    .modal-info p{
        margin-bottom: 5px;
    }
    .btn-cupon{
      background: green;
    }

}
