@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fn0oaf');
  src:  url('../fonts/icomoon.eot?fn0oaf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fn0oaf') format('truetype'),
    url('../fonts/icomoon.woff?fn0oaf') format('woff'),
    url('../fonts/icomoon.svg?fn0oaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-user2:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-lock:before {
  content: "\f023";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-comment:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e901";
}
.icon-office:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e947";
}
.icon-user:before {
  content: "\e971";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-bubble:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e907";
}