@font-face {
    font-family: franklin-gothic-book;
    src: url('../fonts/franklin.ttf');
}

@font-face {
    font-family: franklin;
    src: url('../fonts/Franklin Gothic Medium Cond Regular.ttf');
}

@font-face {
    font-family: raleway;
    src: url('../fonts/Raleway-Italic.ttf');
}


/********** Preloader **********/

.overflow-hidden{
    overflow: hidden;
    overflow-x: hidden;
}

.display-none{
    display: none;
}

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#333333cc;
  z-index:99999;
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  background-image:url(../media/loading.gif);
  background-repeat:no-repeat;
  background-position:center;
  background-size: 50px 50px;
  margin:-100px 0 0 -100px;
}

.pre{
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}


@media only screen and (min-width: 1370px){

}

@media (min-width: 992px) and (max-width: 1369px) {

}

/* tablet devices (tablet 768px 991px) */
@media (min-width: 768px) and (max-width: 991px) {

}



/* mobile devices (mobile 767px) */
@media only screen and (max-width: 767px) {

}

/* mobile devices (mobile 373px) */
@media only screen and (max-width: 373px) {

}
