
/* ****************************** Formulario ****************************** */
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 100;
  src: local('Calibri'), local('Calibri'),
       url('../font/calibri.ttf') format('truetype'), /* Safari, Android, iOS */
}

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"Champagne &amp; Limousines";
  src:url("../fonts/Champagne_Limousines.eot?") format("eot"),
  url("../fonts/Champagne_Limousines.woff") format("woff"),
  url("../fonts/Champagne_Limousines.ttf") format("truetype"),
  url("../fonts/Champagne_Limousines.svg#Champagne&Limousines") 
  format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
  font-family: 'Calibri', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  background-color: #FFF;
}

.navbar-toggler {
    background-color: gray;
}

.champagne{
  font-family: 'Champagne &amp; Limousines';
  font-weight: lighter;
  font-size: 50px;
}

.champagne-aires{
  font-family: 'Champagne &amp; Limousines';
  font-weight: lighter;
  font-size: 25px;
}

.navbar-logo{
  height: 45px;
}

.features-area{
  margin: 140px 0;
}

.features{
  margin: 2rem 0;
}

/*preloader*/
.overflow-hidden{
  overflow: hidden;
  overflow-x: hidden;
}

.display-none{
  display: none;
}

#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#fff; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:100px;
  height:129px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(../images/preloader.gif); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-50px 0 0 -50px; /* is width and height divided by two */
}

.pre{
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* ancient Opera */
  white-space: -o-pre-wrap; /* newer Opera */
  white-space: pre-wrap; /* Chrome; W3C standard */
  word-wrap: break-word; /* IE */
}
/*end*/

.margin-none{
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
} 

input[type=number] {
  -moz-appearance:textfield;
}

textarea:focus,
.text-area:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
.uneditable-input:focus {   
  /*border-color: #007bffcc;
  box-shadow: 0 1px 1px #007bff44 inset, 0 0 8px #007bff88;*/
  outline: 0 none;
}

.blue-button:focus,
.btn-primary:focus,
.white-button:focus,
.quantity-minus:focus,
.quantity-plus:focus,
.btn-link:focus,
a:focus,
.cart-button:focus,
.quantity-btn:focus{
  outline: none;
}

*:focus {
    outline: none;
}

.custome-nav{
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
  color: #999;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:hover {
  color: #007bff;
}

.banner-area {
  background: url(../images/backgrounds/banner1.jpg) center no-repeat fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 100vh;
}

.banner-content{
  color: #FFF;
}

.banner-img{
  max-width: 80%
}

.no-margin{
  margin: 0;
}

.price-product{
  margin: 10px 0;
  width: 100%;
  line-height: 0;
  display: block;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 300;
}

.type_button{
  background-color: aliceblue;
  height: 60px;
  color: #0069d9bb;
  border: 2px solid #ccc;
  position: relative;
  width: calc(50% - 0px);
  margin: 0px;
}

.type_button_selected{
  background-color: #0069d9bb;
  color: #FFF;
  height: 60px; 
  border: 2px solid #ccc;
  cursor: context-menu;
  position: relative;
  width: calc(50% - 0px);
  margin: 0px;
}

.type_button:hover, .type_button_selected:hover{
  color: #FFF;
  background-color: #0069d9bb;
  transition: 0.5s;
}

.type_button:hover .type_link{
  color: #FFF;
}

.type_link{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 600;
}

.bg1{
	background-color: #000000A6;
	height: 100vh;
	width: 100%;
}

.static {
  position: static;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}

.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}

.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}

.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}

.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots, {
  position: absolute;
}

.owl-carousel .owl-dots .owl-dot [class*="owl-"]:focus {
  outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #000;
  transition: all 0.2s ease;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: #000;
}

.owl-theme .owl-nav{
	display: none;
}

/********* PRODUCTO **********/
.product-title{
  letter-spacing: .01875rem; 
  color: #1e306e; 
  font-size: 2.25rem; 
  line-height: 1.111; 
  font-style: normal; 
  font-weight: 300;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
}

.flex-25{
  width: calc(25% - 0px);
  margin: 0px;
}

.flex-20{
  width: calc(20% - 0px);
  margin: 0px;
}

.flex-75{
  width: calc(75% - 0px);
  margin: 0px;
}

.flex-50{
  width: calc(50% - 0px);
  margin: 0px;
}

.flex-100{
  width: calc(100% - 0px);
  margin: 0px;
}

.product_extract, .product-grid__description{
  display: inline;
  margin: 0;
  white-space: pre-wrap;
  line-height: 1.111;
  font-style: normal;
  font-family: 'Calibri', sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.product-grid {
  width: 100%;
}
.product-grid.product-grid--flexbox .product-grid__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.product-grid.product-grid--flexbox .product-grid__title {
  height: auto;
}
.product-grid.product-grid--flexbox .product-grid__title:after {
  display: none;
}
.product-grid__wrapper {
  margin-left: -1rem;
  margin-right: -1rem;
}
.product-grid__product-wrapper {
  padding: 1rem;
  float: left;
  width: 25%;
}
.product-grid__product {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
}
.product-grid__product:hover {
  box-shadow: 0px 0px 0px 1px #eee;
  z-index: 50;
}
.product-grid__product:hover .product-grid__extend {
  display: block;
}
.product-grid__img-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  height: 150px;
}
.product-grid__img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.product-grid__title {
  margin-top: .875rem;
  display: block;
  font-size: 1.125em;
  color: #222;
  overflow: hidden;
  position: relative;
}
.product-grid__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2.4em;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}
.product-grid__price {
  color: #E91E63;
  font-weight: bold;
  letter-spacing: .4px;
}
.product-grid__extend-wrapper {
  position: relative;
}
.product-grid__extend {
  display: none;
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  margin: .4375rem -1rem 0;
  box-shadow: 0px 0px 0px 1px #eee;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.product-grid__extend:before {
  content: "";
  height: .875rem;
  width: 100%;
  position: absolute;
  top: -.4375rem;
  left: 0;
  background: #fff;
}
.product-grid__description {
  font-size: .875em;
  margin-top: .4375rem;
  margin-bottom: 0;
}
.product-grid__btn {
  display: inline-block;
  font-size: .875em;
  color: #777;
  background: #eee;
  padding: .5em .625em;
  margin-top: .875rem;
  margin-right: .625rem;
  cursor: pointer;
  border-radius: 4px;
}
.product-grid__btn i.fa {
  margin-right: .3125rem;
}
.product-grid__add-to-cart {
  color: #fff;
  background: #E91E63;
}
.product-grid__add-to-cart:hover {
  background: #ee4c83;
}
.product-grid__view {
  color: #777;
  background: #eee;
}
.product-grid__view:hover {
  background: white;
}

.footer-distributed{
  background: #444;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Roboto', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/*CART*/
.blue-button{
  background-color:  #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
}

.blue-button:hover{
  color: #ffffff;
  text-decoration: none;
}

.cart-area{
  padding-top: 2em;
  padding-bottom: 2em;
}

.cart-area input[type=number] {
    text-align: center;
}

.cart-area .panel-body{
  border: 1px solid #ddd;
  padding: 0;
}

.cart-area .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.product-img-cart{
  max-width: 50px;
}

.cart-area th{
  background-color: #DDD;
}

.cart-area td{
  background-color: #FFF;
}

.separation {
  margin-top: 1em;
}

.shopping-cart-header{
  padding-bottom: 0em;
}

.coupon-area .coupon-text, .coupon-area .coupon-text:hover, .coupon-area .coupon-text:focus{
  width: 65%;
  height: 46px;    
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.coupon-area .blue-button{
  width: 35%;
  height: 46px;
}

.pay-area table>tbody>tr>td {
  background-color: #fff;
  border-top: 0px solid #333;
  border-bottom: 1px solid #333;

  padding: 5px 8px;
    vertical-align: middle;
}

.products-table table>tbody>tr>td {
  padding: 2px 8px;
  vertical-align: middle;
}

.products-table table>tbody>tr>td>p {
  padding: 0;
  margin: 0;
}

.empty-cart h3{
  color: #FFF;
  padding: 1em 0em;
  margin-top: 0;
}

.quantity-btn {
    background-color: #fff;
    color: #888;
    border: 0px solid #ddd;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}


/********** product image **********/
.product-image--container {
  margin: 0 2em;
}

.product-image--featured {
  max-width: 228px;
  width: 100%;
  max-height: 200px;
  height: 100%;
}

.product-image--list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.product-image--list li {
  margin: 0 5px;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.product-image--list li.item-selected {
  box-shadow: 1px 1px 1px #888888;
  border: 2px solid #FFC500;
  -webkit-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

.product-image--item {
  max-width: 40px;
  max-height: 40px;
}

/*TABS*/
.tabs {
  width: 100%;
}

.tabs ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs .tabs-nav li {
  float: left;
  width: 50%;
}
.tabs .tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs .tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}
.tabs a {
  background: #eaeaed;
  border: 1px solid #cecfd5;
  color: #007bff;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.tabs .tab-active a {
  background: #fff;
  border-bottom-color: transparent;
  color: #007bff;
  cursor: default;
}
.tabs .tabs-stage {
  border: 1px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}

/*success*/
.fusion-title.fusion-title-center {
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.fusion-title .title-sep-container {
  position: relative;
  height: 6px;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fusion-title .title-sep {
  position: relative;
  display: block;
  width: 100%;
  border-style: solid;
  border: 0 solid #e7e6e6;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.fusion-title .title-sep.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}

.fusion-modal h1, .fusion-page-title-bar h1, .fusion-title h1, .fusion-widget-area h1, .post-content h1, .search-page-search-form h1 {
  font-family: Montserrat,Arial,Helvetica,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
  font-style: normal;
}

.fusion-title .title-sep-container {
  position: relative;
  height: 6px;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.fusion-title .title-sep {
  position: relative;
  display: block;
  width: 100%;
  border-style: solid;
  border: 0 solid #e7e6e6;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.fusion-title .title-sep.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}

.success-p{
  font-size: 18px;
}

.logo-success{
  height: 135px;
}

/*PAYMENT METHOD*/
.credit-card-field{
  margin-top: 2rem;
}

.payment-input{
  position: absolute;
  left: 55px;
  top: 30px;
}

.payment-image{
  position: relative;
  z-index: 1;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.payment-image:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.paymentMethod{
  padding: 0;
  height: 75px;
  position: absolute; 
  left: 50%; 
  top: 50%; 

  transform: translate(-50%, -50%);
}

.paymentMethod.active img{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/*credit card*/
.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name""number number""expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard{
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill .5s;
  transition: fill .5s;
}

.creditcard .lightblue {
  fill: #03A9F4;
}

.creditcard .lightbluedark {
  fill: #0288D1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #FFFFFF;
}

#cardfront .st3 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #FFFFFF;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0F0F0F;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #F2F2F2;
}

#cardback .st4 {
  fill: #D8D2DB;
}

#cardback .st5 {
  fill: #C4C4C4;
}

#cardback .st6 {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #FFFFFF;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #EAEAEA;
}

#cardback .st12 {
  font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.credit-card-field > .container {
  perspective: 1000px;
}

.creditcard {
  margin: auto;
  margin-right: 0;
  margin-top: 3rem;
  width: 100%;
  max-width: 400px;
  height: 288px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.ccicon {
  top: 0;
  right: 0;
}

.shopping-cart-header{
  margin-bottom: 10px;
}

.methods-container{
  margin: 3rem 0 1.5rem 0;
}

.payment-card-image{
  width: 150px;
}

/*oxxo paymenn card*/
.opps-buttons{
    height: 35px;
    width: 496px; 
    margin: 0 auto;
    margin-bottom: 10px;
}

.opps-container{
    background: url(../images/quinde-form.jpg) center no-repeat fixed;
    background-size: cover;
    display: block;
    padding-top: 8rem;
    padding-bottom: 8rem;
    color: #000;
    position: relative;
}

.opps {
    width: 496px; 
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0 45px;
    margin: 20px auto;
    overflow: hidden;
    border: 1px solid #b0afb5;
    color: #4f5365;
    background-color: #FFF;
}

.opps h3 {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.opps-reminder {
    position: relative;
    top: -1px;
    padding: 9px 0 10px;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: #000000;
}

.opps-info {
    margin-top: 10px;
    position: relative;
}

.opps-info:after {
    visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

}

.opps-brand {
    width: 45%;
    float: left;
}

.opps-brand img {
    max-width: 150px;
    margin-top: 2px;
}

.opps-ammount {
    width: 55%;
    float: right;
}

.opps-ammount h2 {
    font-size: 36px;
    color: #000000;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opps-ammount h2 sup {
    font-size: 16px;
    position: relative;
    top: -2px
}

.opps-ammount p {
    font-size: 10px;
    line-height: 14px;
}

.opps-reference {
    margin-top: 10px;
}

.opps-reference h1 {
    font-size: 27px;
    color: #000000;
    text-align: center;
    margin-top: -1px;
    padding: 6px 0 7px;
    border: 1px solid #b0afb5;
    border-radius: 4px;
    background: #f8f9fa;
}

.opps-instructions {
    margin: 15px -45px 0;
    padding: 20px 45px 20px;
    border-top: 1px solid #b0afb5;
    background: #f8f9fa;
    color: #333;
}

.opps-instructions ol {
    margin: 10px 0 0 0px;
}

.opps-instructions ol > li {
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
}

.opps-instructions a {
    color: #1155cc;
}

.opps-footnote {
    margin-top: 22px;
    padding: 22px 20 24px;
    color: #108f30;
    text-align: center;
    border: 1px solid #108f30;
    border-radius: 4px;
    background: #ffffff;
}




@media (min-width: 1200px) and (max-width: 1500px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

/* tablet devices (tablet 768px 991px) */
@media (min-width: 768px) and (max-width: 991px) {

  body {
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .banner-area {
    background: url(../images/backgrounds/lutecmovil.png) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .banner-title{
    font-size: 25px;
  }

  .banner-img{
    max-width: 50%;
  }
  
  .features{
    margin: 1rem 0;
  }

  .single-features{
    margin: 15px 0;
  }

  .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
  }
}

/* mobile devices (mobile 767px) */
@media only screen and (max-width: 767px) { 

  body {
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .banner-area {
    background: url(../images/backgrounds/lutecmovil.png) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .banner-title{
    font-size: 20px;
    margin-top: 3rem;
  }

  .method-title{
    font-size: 30px;
  }

  .features{
    margin: 1rem 0;
  }

  .single-features{
    margin: 15px 0;
  }

  .logo-success{
    height: 75px;
  }

  .navbar-logo{
    height: 40px;
  }

  .banner-img{
    max-width: 50%;
    display: none;
  }

  .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 50%;
  }

  .creditcard {
    margin: auto;
    margin-top: 1rem;
  }

  .paymentMethod {
    height: 48px;
  }

  .shopping-cart-header{
    margin-bottom: 5px;
  }

  .methods-container{
    margin: 2.5rem 0 0 0;
  }

  .creditcard {
    max-width: 271px;
    height: 194px;
  }

  .payment-card-image{
    width: 140px;
  }

  .champagne{
    font-size: 30px;
  }

  .champagne-aires{
    font-size: 20px;
  }
}

/* mobile devices (mobile 575px) */
@media only screen and (max-width: 575px) { 

  body {
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .banner-area {
    background: url(../images/backgrounds/lutecmovil.png) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .banner-title{
    font-size: 20px;
  }

  .features{
    margin: 1rem 0;
  }

  .single-features{
    margin: 15px 0;
  }

  .features-area{
    margin: 90px 0;
  }

  .method-title{
    font-size: 22px;
  }

  .success-p{
    font-size: 15px;
  }

  .navbar-logo{
    height: 40px;
  }

  .logo-success{
    height: 55px;
  }

  .banner-img{
    max-width: 50%;
    display: none;
  }

  .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 100%;
  }

  .creditcard {
    margin: auto;
    margin-top: 1rem;
  }

  .paymentMethod {
    height: 48px;
  }

  .shopping-cart-header{
    margin-bottom: 5px;
  }

  .methods-container{
    margin: 2.5rem 0 0 0;
  }

  .creditcard {
    max-width: 271px;
    height: 194px;
  }

  .payment-card-image{
    width: 125px;
  }

  .champagne{
    font-size: 30px;
  }

  .champagne-aires{
    font-size: 20px;
  }
}

/* mobile devices (mobile 371px) */
@media only screen and (max-width: 371px) { 

  body {
    height:100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .banner-area {
    background: url(../images/backgrounds/lutecmovil.png) no-repeat top center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .features-area{
    margin: 75px 0;
  }

  .method-title{
    font-size: 20px;
  }

  .success-p{
    font-size: 15px;
  }

  .features{
    margin: 0;
  }

  .single-features{
    margin: 15px 0;
  }

  .navbar-logo{
    height: 35px;
  }

  .banner-title{
    font-size: 20px;
  }

  .logo-success{
    height: 50px;
  }

  .banner-img{
    max-width: 50%;
    display: none;
  }

  .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 100%;
  }

  .creditcard {
    margin: auto;
    margin-top: 1rem;
  }

  .paymentMethod {
    height: 40px;
  }

  .shopping-cart-header{
    margin-bottom: 5px;
  }

  .methods-container{
    margin: 2.5rem 0 0 0;
  }

  .creditcard {
    max-width: 271px;
    height: 194px;
  }

  .payment-card-image{
    width: 100px;
  }

  .champagne{
    font-size: 30px;
  }

  .champagne-aires{
    font-size: 20px;
  }
}